.TermID {
    color: white;
    display: inline-block;
    box-sizing: content-box;
    padding: 5px;
    background-color:  #00827c;
    border-radius: 10px;
}

.TextJustify {
    text-align: justify;
} 