.DropDown{
    width: 55px;
    height: 35px;
    padding-left: 5px;
    margin-right: 6px;
    margin-left: 6px;
    border-color:  #ccc;
    border-width: 1px;
}

.Padder{
    margin-top: 8px;
    margin-bottom: 8px;
}