.container {
    margin: auto; 
    width: 80%; 
}

.AlignCenter {
    padding-top: 150px;
    text-align: center;
}

.OptionsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    color: #4d4d4d;
}

.PageInfo{
    padding-top: 10px;
    padding-bottom: 50px;
    color: #4d4d4d;
}

.Title {
    padding-top: 20px;
    font-size: 1.5rem;
    font-weight: normal;
}

.OptionsContainer, .PageInfo, .TableHeader {
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-style: normal;
}

@media (max-width: 600px) {
    .OptionsContainer {
        flex-direction: column;
        padding-bottom: 10px;
        align-items: center;
        justify-content: space-between; 
    }
}