*{
    box-sizing: border-box;
  }
 
  .table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    table-layout: auto;
  }
  
  .table td, .table th{
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size:16px;
  }
  
  .table th{
    background-color: #f5f5f5;
    color: black;
  }
  
  .table tbody tr:nth-of-type(even) {
    background-color: #f5f5f5;
  }

  .table tbody tr td a{
    text-decoration: none;
    color: #00827c;
    cursor: pointer;
    text-transform: capitalize;
}
  
  @media (max-width: 700px) {
    .table thead {
      display: none;
    }
  
    .table, .table tbody, .table tr, .table td {
      display: block;
      width: 100%;
    }
  
    .table td{
      text-align: right;
      padding-left: 30%;
      position: relative;
    }
  
    .table td::before{
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 30%;
      padding-left: 15px;
      font-size: 14px;
      font-weight: bold;
      text-align: left;
    }
  
  }
  