*{
  font-family: sans-serif;
}

.OlsHeader {
  background-image: url("./images/background.jpg");
  background-position: right;
  background-repeat: repeat;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.OlsLogo{
  margin-left:10%; 
}

@media (max-width: 600px) {
  .OlsHeader {
    display: none;
  }
}