span a:hover{
    background:#00827c;
    color: white;
    cursor: pointer;
}

a {
    text-decoration: none;
    padding: 6px 10px;
}

.MySpan{
    margin: 5px;
}

.ActivePage {
    background-color: #00827c;
    color: white;
}

.InnactivePage {
    background-color: white;
    color: #4d4d4d;
}

.Padder{
    margin-top: 8px;
    margin-bottom: 8px;
}